/* NAVIGATION */
/* Hide Home Button */
.headerHomeButton {
  display: none;
}
.headerButton.headerButtonRight.headerUserButton.paper-icon-button-light {
  display: none;
}

/* Hide Cast Button */
.headerCastButton {
  display: none;
}
/* Hide Group / Sync Button */
.headerSyncButton {
  display: none;
}

/* Current Time */
.currentTimeText {
  display: none;
}

/* Nav Tabs */
.headerTabs {
  display: none;
}

/* Page Options */
.listPaging,
.btnShuffle,
.btnSelectView,
.btnSort,
.btnFilter {
  display: none;
}
.padded-right-withalphapicker {
  padding-right: max(env(safe-area-inset-left),3.3%) !important;
}

/* Alphabet Picker Row */
.alphaPicker {
  display: none;
}



/* Detail Page */
.btnUserRating,
.btnPlaystate,
.btnMoreCommands {
  display: none;
}
.detailPagePrimaryContent {
  display: none;
}
