/* NAVIGATION */
/* Hide Home Button */
.pageTitleWithLogo {
  display: none;
}
.mainDrawerButton {
  display: none;
}
.headerHomeButton {
  display: none;
}
.headerButton.headerButtonRight.headerUserButton.paper-icon-button-light {
  display: none;
}
.headerCastButton {
  display: none;
}
.headerSyncButton {
  display: none;
}
.headerSearchButton {
  display: none;
}

/* Current Time */
.currentTimeText {
  display: none;
}

/* Nav Tabs */
.headerTabs {
  display: none;
}

/* Page Options */
.listPaging,
.btnShuffle,
.btnSelectView,
.btnSort,
.btnFilter {
  display: none;
}
.padded-right-withalphapicker {
  padding-right: max(env(safe-area-inset-left),3.3%) !important;
}

/* Alphabet Picker Row */
.alphaPicker {
  display: none;
}



/* Detail Page */
.btnUserRating,
.btnPlaystate,
.btnMoreCommands {
  display: none;
}
.detailPagePrimaryContent {
  display: none;
}
#similarCollapsible {
  display: none;
}

/* Video Player */
.osdTimeText,
.btnVideoOsdSettings,
.btnAirPlay,
.btnPip,
.btnFullscreen {
  display: none;
}
